<extend name="Public/base"/>

<block name="body">
    <div class="main-title">
        <h2>新增数据</h2>
    </div>
    <form action="{:U()}" method="post" class="form-horizontal">
        @@addcontrolsvalue@@

        <div class="form-item">
            <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </form>
</block>

<block name="script">
    <script type="text/javascript">
        //导航高亮
        highlight_subnav('{:U('index')}');
    </script>
</block>
