<!doctype html>
<html class="no-js" ng-app='hc-app'>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <title>Now connect to MySQL</title>
    <link rel="stylesheet" href="/bower_components/amazeui/dist/css/amazeui.min.css">
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/amazeui/dist/js/amazeui.min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-ui-ace/ui-ace.js"></script>
</head>
<body>
<style>
    .header {
        text-align: center;
    }
    .header h1 {
        font-size: 200%;
        color: #333;
        margin-top: 30px;
    }
    .header p {
        font-size: 14px;
    }
</style>



<div class="header">
    <div class="am-g">
        <h1>HyperCoder</h1>
        <p>Integrated Development Environment<br/>
             </p>
    </div>
    <hr />
</div>
<div class="am-g"  ng-controller="ConnectCtrl">
    <div class="am-u-lg-4 am-u-md-6 am-u-sm-centered">
        <h3>Now connect to MySQL</h3>
        <hr>


        <form method="post" class="am-form">
            <label >server:</label>
            <input type="text" name="server"  value="" ng-model="server">
            <br>
            <label >port:</label>
            <input type="text" name="port"  value="" ng-model="port">
            <br>
            <label >username:</label>
            <input type="text" name="username"  value="" ng-model="username">
            <br>
            <label >password:</label>
            <input type="password" name="password"  value="" ng-model="password">
            <br>
            <br />
            <div class="am-cf">
                <button type="button" class="am-btn am-btn-primary am-btn-block" ng-click="connectCheck()">Connect</button>
            </div>
        </form>
        <hr>
        <p>© 2016 CaoMengLong@GitHub, Inc. Licensed under MIT license.</p>
    </div>
</div>

<!---------连接失败------>
<div class="am-modal am-modal-alert" tabindex="-1" id="failed-alert">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">HyperCoder</div>
        <div class="am-modal-bd">
            MySQL connection failed.
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn">Cancel</span>
        </div>
    </div>
</div>

<div class="am-modal am-modal-loading am-modal-no-btn" tabindex="-1" id="my-modal-loading">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">Connecting to MySQL</div>
        <div class="am-modal-bd">
            <span class="am-icon-spinner am-icon-spin"></span>
        </div>
    </div>
</div>
<!--在这里编写你的代码-->

<script src="/model/app.js"></script>
<script src="/model/connect.js"></script>
<script type="application/javascript">
    var win = nw.Window.get();
    //win.showDevTools();
</script>
</body>
</html>