<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <title>连接数据库</title>
    <link rel="stylesheet" href="/bower_components/amazeui/dist/css/amazeui.min.css">
    <link rel="stylesheet" href="/bower_components/amazeui/dist/css/app.css">
</head>
<body>

<div class="am-center">
    <h1>HyperCoder</h1>
</div>


<div data-am-widget="list_news" class="am-list-news am-list-news-default" >
    <!--列表标题-->
    <div class="am-list-news-hd am-cf">
        <!--带更多链接-->
        <a href="##" class="">
            <h2>栏目标题</h2>
            <span class="am-list-news-more am-fr">更多 &raquo;</span>
        </a>
    </div>

    <div class="am-list-news-bd">
        <ul class="am-list">

            <li class="am-g am-list-item-dated">
                <a href="##" class="am-list-item-hd ">我很囧，你保重....晒晒旅行中的那些囧！</a>

                <span class="am-list-date">2013-09-18</span>


            </li>
            <li class="am-g am-list-item-dated">
                <a href="##" class="am-list-item-hd ">我最喜欢的一张画</a>

                <span class="am-list-date">2013-10-14</span>


            </li>
            <li class="am-g am-list-item-dated">
                <a href="##" class="am-list-item-hd ">“你的旅行，是什么颜色？” 晒照片，换北欧梦幻极光之旅！</a>

                <span class="am-list-date">2013-11-18</span>


            </li>
        </ul>
    </div>

</div>

<!--在这里编写你的代码-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="/bower_components/amazeui/dist/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script src="/bower_components/amazeui/dist/js/amazeui.min.js"></script>
<script type="application/javascript">
    var win = nw.Window.get();
    win.showDevTools();
</script>
</body>
</html>