<!doctype html>
<html class="no-js"  ng-app='hc-app'>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <title>Now connect to MySQL</title>
    <link rel="stylesheet" href="/bower_components/amazeui/dist/css/amazeui.min.css">
</head>
<body>
<p>
    Hello Amaze UI.
</p>

<!--在这里编写你的代码-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="/bower_components/amazeui/dist/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script src="/bower_components/amazeui/dist/js/amazeui.min.js"></script>
<script src="/bower_components/angular/angular.min.js"></script>
<script src="/model/app.js"></script>
</body>
</html>