<!doctype html>
<html class="no-js fixed-layout" ng-app='hc-app'>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>HyperCoder</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="/bower_components/amazeui/dist/css/amazeui.min.css"/>
    <link rel="stylesheet" href="/Public/css/admin.css">
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/amazeui/dist/js/amazeui.min.js"></script>
    <script src="/bower_components/ace-builds/src-min-noconflict/ace.js"></script>
    <script src="/bower_components/ace-builds/src-min-noconflict/ext-language_tools.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-ui-ace/ui-ace.js"></script>
</head>
<body ng-controller="MainCtrl">

<header class="am-topbar am-topbar-inverse admin-header ">
    <div class="am-topbar-brand" onclick="window.location.reload();">
        <strong>HyperCoder</strong> <small>代码生成器</small>
    </div>

    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

    <div class="am-collapse am-topbar-collapse" id="topbar-collapse">

        <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">
            <li><a href="#/choice"><span class="am-icon-server"></span> <span ng-bind="server"></span> <span class="am-badge am-badge-warning" ng-bind="DataBaseCount"></span></a></li>

            <li class="am-hide-sm-only"><a href="javascript:;" id="admin-fullscreen"><span class="am-icon-arrows-alt"></span> <span class="admin-fullText">FullScreen</span></a></li>
        </ul>
    </div>
</header>

<div class="am-cf admin-main">
    <!-- sidebar start -->
    <div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
        <div class="am-offcanvas-bar admin-offcanvas-bar">
            <ul class="am-list admin-sidebar-list">

                <li class="admin-parent">
                    <a class="am-cf" data-am-collapse="{target: '#collapse-nav'}"><span class="am-icon-database"></span> <span ng-bind="DataBase.name"></span> <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
                    <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav">
                        <li ng-repeat="tb in DataBase.tableList"><a href="javascript:;" ng-click="chickTableName($index)"><span class="tableName">{{tb.name}}</span><br/><i class="tableComment">{{tb.comment }}</i></a></li>
                    </ul>
                </li>
                  <li><a href="#/demo"><span class="am-icon-sign-out  am-hide"></span> 注销</a></li>
            </ul>

            <div class="am-panel am-panel-default admin-sidebar-panel">
                <div class="am-panel-bd">
                    <p><span class="am-icon-bookmark"></span> Gift</p>
                    <p>有朋友同行是一种力量，有朋友鼓励是一种安慰，有朋友思念是一种福气，有朋友关心是一种幸福。 <br/>
                        1.0版本_将她献给我的朋友<br/>
                        @梁俊 @王帆  @王元林 @张伟 @张士明 @陈继伟 @孙玉峰 @张海涛</p>
                </div>
            </div>

        </div>
    </div>
    <!-- sidebar end -->

    <!-- content start -->
    <div class="admin-content">
        <div class="admin-content-body" id="main">
            <div ng-view></div>
        </div>

        <footer class="admin-content-footer" id="admin-content-footer">
            <hr>
            <p class="am-padding-left">© 2016 CaoMengLong@GitHub, Inc. Licensed under MIT license.</p>
        </footer>
    </div>
    <!-- content end -->

</div>
</body>
<script src="/model/app.js"></script>
<script src="/model/main.js"></script>
<script src="/model/choice.js"></script>
<script src="/model/table.js"></script>
<script src="/template/thinkphp/thinkphp.js"></script>

</html>
