<header class="am-topbar">
    <h1 class="am-topbar-brand">
        <a href="#">Amaze UI</a>
    </h1>

    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#doc-topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

    <div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse">
        <ul class="am-nav am-nav-pills am-topbar-nav">
            <li class="am-active"><a href="#">首页</a></li>
            <li><a href="#">项目</a></li>
            <li class="am-dropdown" data-am-dropdown>
                <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
                    下拉 <span class="am-icon-caret-down"></span>
                </a>
                <ul class="am-dropdown-content">
                    <li class="am-dropdown-header">标题</li>
                    <li><a href="#">1. 去月球</a></li>
                    <li class="am-active"><a href="#">2. 去火星</a></li>
                    <li><a href="#">3. 还是回地球</a></li>
                    <li class="am-disabled"><a href="#">4. 下地狱</a></li>
                    <li class="am-divider"></li>
                    <li><a href="#">5. 桥头一回首</a></li>
                </ul>
            </li>
        </ul>

        <form class="am-topbar-form am-topbar-left am-form-inline" role="search">
            <div class="am-form-group">
                <input type="text" class="am-form-field am-input-sm" placeholder="搜索">
            </div>
        </form>

        <div class="am-topbar-right">
            <div class="am-dropdown" data-am-dropdown="{boundary: '.am-topbar'}">
                <button class="am-btn am-btn-secondary am-topbar-btn am-btn-sm am-dropdown-toggle" data-am-dropdown-toggle>其他 <span class="am-icon-caret-down"></span></button>
                <ul class="am-dropdown-content">
                    <li><a href="#">注册</a></li>
                    <li><a href="#">随便看看</a></li>
                </ul>
            </div>
        </div>

        <div class="am-topbar-right">
            <button class="am-btn am-btn-primary am-topbar-btn am-btn-sm">登录</button>
        </div>
    </div>
</header>

<!----代码区域-->


<div class="am-cf am-padding">
    <div class="am-fl am-cf">
        <strong class="am-text-primary am-text-lg" ng-bind="table.name"> </strong> /
        <small>代码生成</small>
    </div>
</div>

<div class="am-g">
    <div class="am-u-md-12">
        <div class="am-panel am-panel-default">
            <div class="am-panel-hd am-cf" data-am-collapse="{target: '#collapse-panel-1'}">代码生成<span
                    class="am-icon-chevron-down am-fr"></span></div>
            <div class="am-panel-bd am-collapse am-in" id="collapse-panel-1">
                <form class="am-form">
                    <fieldset>

                        <div class="am-form-group">
                            <label>字段选择</label><br/>
                            <label class="am-checkbox-inline">
                                <input type="checkbox" ng-model='checkeboxFlag' ng-click="CheckedAll()"
                                       checked="checked"> 全选
                            </label>
                            <label class="am-checkbox-inline" ng-repeat="fl in FieldList">
                                <input type="checkbox" ng-model='fl.checked' ng-click="Checked()"> {{fl.name}}
                                {{fl.comment}}
                            </label>
                        </div>

                        <div class="am-form-group">
                            <label>待处理字段</label>
                            <textarea class="" rows="5" ng-model='fieldNameArrayStr'></textarea>
                        </div>

                        <div class="am-form-group">
                            <label>生成的参数</label>
                            <textarea class="" rows="5" ng-model='fieldNameParamsStr'></textarea>
                        </div>

                    </fieldset>
                </form>
            </div>
        </div>

    </div>

</div>


<div class="am-g">
    <div class="am-u-md-12">
        <div class="am-panel am-panel-default">
            <div class="am-panel-hd am-cf"  data-am-collapse="{target: '#collapse-panel-2'}">代码生成<span
                    class="am-icon-chevron-down am-fr"></span></div>
            <div class="am-panel-bd am-collapse am-in" id="collapse-panel-2">
                <div class="am-tabs" id="doc-my-tabs">
                    <ul class="am-tabs-nav am-nav am-nav-tabs am-nav-justify">
                        <li class="am-active"><a href="">ThinkPHP</a></li>
                        <li><a href="">OneThink</a></li>
                        <li><a href="">窗外</a></li>
                    </ul>
                    <div class="am-tabs-bd">
                        <div class="am-tab-panel am-active">
                            <div ui-ace="{
  useWrapMode : true,
  showGutter: false,
  theme:'chrome',
  mode: 'php',
  firstLineNumber: 5,
  onLoad: aceLoaded,
  onChange: aceChanged
}">class IndexController extends Controller
                            </div>
                        </div>
                        <div class="am-tab-panel">OneThink</div>
                        <div class="am-tab-panel">...</div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
</div>


<script>
    $(function () {
        $('#doc-my-tabs').tabs({noSwipe: 1});
    })
</script>
